<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>留言</title>
</head>
<body>
  <form method="post" action="/publish">
    <div>
      <label for="">姓名</label>
      <input required type="text" name="name">
    </div>
    <div>
      <label for="">邮箱</label>
      <input required type="email" name="email">
    </div>
    <div>
      <label for="">内容</label>
      <textarea required name="content" id="" cols="30" rows="10"></textarea> 
    </div>
    <div>
      <button>提交</button>
    </div>
  </form>
</body>
</html>
